/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"); */

:root {
  --primary: #6366f1;

  --color-body-background: #ffffff;
  --color-body-text: #565973;
  --color-heading-text: #0b0f19;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: var(--color-body-background);
  color: var(--color-body-text);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading-text);
}

.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.testimonials {
  background-color: #f3f6ff;
}

@media (min-width: 768px) {
  .testimonials {
    padding-bottom: 0;
  }
}

.testimonials-area {
  display: flex;
  flex-wrap: wrap;
  max-height: 542px;
  padding: 3rem;

  /* text-align: center; */

  @media (min-width: 768px) {
    .testimonials-area {
      text-align: left;
    }
  }
}
.testimonials-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.title {
  color: var(--color-heading-text);
  /* font-family: "Manrope", sans-serif; */
  font-size: 2.5rem;
  font-weight: 800;
  max-width: 306px;
  min-width: 306px;
  margin-right: 3rem;
}
@media (min-width: 768px) {
  .title {
    justify-content: start;
  }
}

.review {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  /* padding: 20px 24px 24px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  /* flex: 0 0 calc(50% - 1rem); */

  @media (min-width: 768px) {
    .review {
      justify-content: start;
    }
  }

  .review-card {
    background-color: var(--color-body-background);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    position: relative;

    .text {
      color: var(--color-body-text);
      font-size: large;
      line-height: 1.6em;
    }

    .quotes {
      width: 60px;
      height: 60px;
      position: absolute;
      top: -20px;
    }

    .star-rating {
      height: 16px;
      height: 16px;
      color: #ffba08;
      display: flex;
      flex-direction: row;
      /* margin: 36px; */
    }

    .author {
      /* border-radius: 4px; */
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      gap: 24px;
    }
    /* .info {
    } */

    .name {
      color: var(--color-heading-text);
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      width: 194px;
      height: 26px;
      position: relative;
    }

    .position {
      color: #9397ad;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      width: 194px;
      height: 22px;
      position: relative;
    }
  }
}
